@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Qwitcher Grypen", cursive;
}

p {
  font-size: 40px;
  color: blue;
  text-align: center;
  text-align: justify;
  text-shadow: 1px 1px 4px rgb(226, 16, 51);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
  font-size: 60px;
  color: burlywood;
  cursor: all-scroll;
  background: brown;
  line-height: 3;
}
